#container {
	margin: 0;
	display: flex;
	flex-direction:column;
	min-height: 100vh;	
}
#header {
	display: flex;
	/*border: solid green;*/
	flex-direction: column;
}

#footer {
	/*border: solid;*/
	display: flex;
	flex-direction: column;
	border-top: 8px solid white;
}
#content {
	border: solid;
	display: flex;
	flex: 1;
	
}

#centralBox {
	font-size: 3em;
	border: solid;
	flex: 1;
	padding: 5px;
}

#leftBox {
	order: -1;
}

#leftBox, #rightBox {
	border: solid;
	flex-basis: 20%; 
}


div.firstRow{
	display: flex;
	/*border: solid pink;*/
	justify-content: space-between;
	align-items: center;
	background-image: url(img/background/firstRow.avif);
	/*background-size: 300px 300px;*/  /*primo modo*/
	background-size: 15% 150%;			/*secondo modo*/
}

div.secondRow{
	display: flex;
	border-top: 8px solid white;
	border-bottom: 8px solid white;
	/*border: 2px solid green;*/
	background-image: linear-gradient(to top right, #FFFFFF 0%, #B2FFFF 50%, #23284F 100%);
	justify-content: center;	
}


div.thirdRow{
	/*border: 2px solid red;*/
	border-bottom: 4px solid white;
}

#login{
	font-size: 1.5em;
	margin-right: 3%;
}

.social {
	margin: 1%;	
}

#login a:link {
	color: white;
	text-decoration: none;
}

#login a:hover{
	color: fuchsia;
	font-size: 120%;
	border: 3px dotted fuchsia;
	border-radius: 10px ;
	padding: 10%;
}

div.thirdRow img {
	width: 100%;
}

div.firstRowFooter {
	display: flex;
	flex-direction: row;
	background-image: url(img/background/firstRow.avif);
	background-size: 15% 150%;
	color: white;
	text-align: center;
	font-family: arial;
	/*border: solid aqua;*/
	justify-content: space-evenly;

}

#telefono{
	list-style-image: url(img/puntiLista/telefono.png);
	/*list-style-position: inside;*/
	padding-bottom: 5%;
}

#posizione{
	list-style-image: url(img/puntiLista/posizione.png);
	/*list-style-position: inside;*/
	padding-bottom: 5%;
}

#mail{
	list-style-image: url(img/puntiLista/mail.png);
	/*list-style-position: inside;*/
}

div.secondRowFooter{
	background-image: linear-gradient(to top left, #D2D2D2 0%, #0A0A0A 50%, #4CB7A5 100%);
	border-top: 8px solid white;
	color: white;
	font-family: arial;
	text-align: center;
	font-size: 1.2em;
	padding: 2%;	
}